@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    height: 100vh;
    padding:10px;
    display:flex;
    justify-content: center;
    text-align: center;
    background-color:white;
    color:black; 
}
.box{
    padding-top:40px;
}
.img{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    width:300px;
    height:450px;
    padding:2px;
    border-radius: 2px;
    display:flex;
    text-align:center;
}
.img i{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: #f8353f;
    animation: heartGrow .6s linear;

}
@keyframes heartGrow{
    100%{
        transform: scale(4);
        /* opacity: 0; */
    }
}
.img img{
    border-radius:5px;
    width:100%;
}
.clickCount{

    color:#F11A7B;
}
